page-home {
    .header .toolbar-title{
        text-align: center;
        color: white !important;
    }

    .toolbar {
        .toolbar-background{
            background-color: lightblue ;
        }
    }

}
